/* body { */
/*   /\* font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif; *\/ */
/*   margin: 0 auto; */
/*   /\* padding-top: 72px; *\/ */
/*   /\* max-width:1000px; *\/ */
/*   /\* padding-top:8vh; *\/ */
/*   -webkit-font-smoothing: antialiased; */
/*   font-size: 1.125em; */
/*   /\* color: #333; *\/ */
/*   line-height: 1.5em; */

/* } */

/* p { */
/*     /\* font-family:'Roboto', serif; *\/ */
/*     line-height:150%; */
/*     font-size:120%; */
/*     font-weight:400; */
/* } */

/* h1, h2, h3 { */
/*     color: #000; */
/*     padding:1em; */
/*     text-align:center; */
/*     font-weight:400; */
/*     /\* font-family: 'Oxygen', serif; *\/ */
/*     font-size:120%; */
/* } */
/* h1 { */
/*   font-size: 2.5em */
/* } */

/* h2 { */
/*   font-size: 2em */
/* } */

/* h3 { */
/*   font-size: 1.5em */
/* } */

/* a { */
/*   text-decoration: none; */
/*   /\* color: #09f; *\/ */
/* } */

/* a:hover { */
/*   text-decoration: underline; */
/* } */

/* .projimg > img { */
/*     width:40%; */
/*     margin:0 auto; */
/* } */

/* div.ressection { */
/*     padding:1em; */
/*     width:100%; */
/*     margin:0 auto; */

    
/* } */
/* div.awardcontainer { */
/*     display:flex; */
/*     flex-direction:row; */
/* } */
/* div.years { */
/*     margin-right:2em; */
/* } */
/* .projimg { */
/*     width:100%; */
/*     height:auto; */
/*     margin:0 auto; */
/* } */
               
    
/* .thumb { */
/*     max-width:60%; */
/*     width:80%; */
/*     height:auto; */
 
/*     border:0; */
 
/* } */

/* .carousel img { */
/*     /\* position:absolute; *\/ */
/*     /\* top:0; *\/ */
/*     /\* left:0; *\/ */
/*     min-width:100%; */
/*     max-width:none; */
/* } */

/* .aboutdesc { */
/*     width:95%; */
/*     margin:0 auto; */
/* } */
                       
/* .sectionheader { */
/*     text-align:center; */
/*     padding:1em; */
/* } */

body {
    height:auto;
    background-color:#e9e9e9;
}
.sectionheader {
    text-align:center;
}

.ressection {
    background-color:#fefefe;
    margin-top:1vh;
    margin-bottom:0vh;
    padding:4px;
}
.skillheader h6 {
    font-size:80%;
}

@media (min-width:800px) {
    .ressection p {
        margin-left:2em;
        margin-right:2em;
    }
    .skillheader h6 {
        font-size:100%;
    }
}
.skills {
    margin-right:8px;
}

.skills .label {
    margin-right:4px;
    margin-bottom:4px;
    margin-bottom:4px;
}

.contactmed {
    width:80%;
    margin:0 auto;
    height:auto;
}

.contactmed  h3 {
    width:100%;
    margin:0 auto;
    margin-top:0.9em;;
}
.contactdetails {
    margin-top:1em;
}

.medphone {
    padding-left:3.5em;
}


    
    