body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  /* padding-top: 72px; */
  max-width:1000px;
  padding-top:8vh;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  background-color:#fafafa;
}

p {
    font-family:'Roboto', sans-serif;
    line-height:150%;
}

h1, h2, h3 {
    color: #000;
    padding:1em;
    text-align:center;
    font-family: 'Merriweather', serif;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.projimg > img {
    width:40%;
    margin:0 auto;
}

div.ressection {
    padding:1em;
    width:100%;
    margin:0 auto;

    
}
div.awardcontainer {
    display:flex;
    flex-direction:row;
}
div.years {
    margin-right:2em;
}
img {
    max-width:100%;
    width:auto;
    height:auto;
    vertical-align:middle;
    border:0;
    -ms-interpolation-mode: bicubic;
}

.carousel img {
    /* position:absolute; */
    /* top:0; */
    /* left:0; */
    min-width:100%;
    max-width:none;
}

.aboutdesc {
    width:95%;
    margin:0 auto;
}
                       
