

body {
    height:auto;
    background-color:#e9e9e9;
}
.sectionheader {
    text-align:center;
    margin-bottom:2em;
    margin-top:1em;
}

.ressection {
    background-color:#fefefe;
    margin-top:1vh;
    margin-bottom:0vh;
    padding:4px;
}
.skillheader h6 {
    font-size:80%;
}

@media (min-width:800px) {
    .ressection p {
        margin-left:2em;
        margin-right:2em;
    }
    .skillheader h6 {
        font-size:100%;
    }
}
.skills {
    margin-right:8px;
}

.skills .label {
    margin-right:4px;
    margin-bottom:4px;
    margin-bottom:4px;
}

.contactmed {
    width:80%;
    margin:0 auto;
    height:auto;
}

.contactmed  h3 {
    width:100%;
    margin:0 auto;
    margin-top:0.9em;;
}
.contactdetails {
    margin-top:1em;
}

.medphone {
    padding-left:3.5em;
}
/* .imagecontainer { */
/*     width:80%; */
/*     height:auto; */
/*     margin:0 auto; */
    
/* } */
/* .thumb { */
/*     width:50%; */
/*     margin:0 auto; */
/*     height:auto; */
/* } */
    
img {
    display:block;
    margin:1em;
}
              